.libraries__item {
  color: #000;
  transition: .3s ease-in-out;
}

.libraries__item:hover {
  background-color: rgba(0,0,0, .4);
  color: #fff;
}


.library {
  min-height: 100vh;
  padding: 30px;
}

.region__info {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0, .3);
  padding: 15px;
  margin-top: 50px;
}

.region__info .ant-descriptions-item-label {
  font-weight: bold;
}